<!DOCTYPE html>
<html>
<head>
	<title>Signup Failed</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
			background-color: #E8F2F7;
			overflow-y: hidden; 
			overflow-x: hidden;
		}

		h2, h1 {
			text-align: center;
			color: #1E3C72;
			margin-top: 50px;
		}

		p {
			text-align: center;
		}

		.container {
			padding: 16px;
		}

		@media screen and (max-width: 300px) {
			span.psw {
				display: block;
				float: none;
			}
			.cancelbtn {
				width: 100%;
			}
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Kaydolma İşlemi Başarısız</h1>
		<br>
		<br>
		<p><a href="/signup">Geri dön</a></p>
		<p>Kayıt başarısız olmuş gibi görünüyor. Bunun nedeni kullanıcı adı, öğrenci kimlik numarası veya kayıtlı e-postanın zaten mevcut olması olabilir.</p>
		<p>Lütfen girdiğiniz bilgileri kontrol edin ve tekrar deneyin.</p>
	</div>
</body>
</html>
